{% extends 'include/base.html' %} {% block content %}
<div class="">
  <div class="h-screen w-full">
    <img
      src="{{url_for('static',filename='images/slider_01.jpg')}}"
      class="h-full w-full object-cover absolute -z-[1]"
      alt=""
    />
    <div class="h-full w-full bg-black bg-opacity-30 flex items-center p-10">
      <div class="flex flex-col gap-4 max-w-7xl mx-auto w-full">
        <h2 class="uppercase font-bold text-2xl text-white">
          Welcome to award wining
        </h2>
        <h1 class="text-5xl uppercase font-bold">Creative agency</h1>
        <p class="max-w-xl text-lg">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
          obcaecati nihil odit totam, cumque explicabo sunt tempore voluptatibus
          ullam alias?
        </p>
        <a class="py-2 px-6 bg-red-600 text-white font-semibold w-fit"
          >Contact us</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Our services -->
<div class="min-h-[50vh] bg-white py-14">
  <div
    class="max-w-7xl mx-auto gap-4 grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] px-4"
  >
    <div
      class="rounded-md p-10 grid-col-[1_2] md:col-span-2 flex flex-col gap-4"
    >
      <h1
        class="font-bold text-3xl relative before:absolute before:w-20 before:h-2 before:bg-red-400 before:top-8 before:rounded-md"
      >
        Main Services
      </h1>
      <p>
        Excepturi ea consequuntur fugiat deleniti dolore suscipit doloribus
        aspernatur qui ducimus quam error maiores facilis itaque sit similique
        voluptas et natus facilis dolor vel eos saepe totam qui dolores.
      </p>
    </div>
    <div
      class="shadow-[0_0_5px_-2px_#181921] rounded-md p-10 flex flex-col gap-4"
    >
      <h1 class="text-xl font-bold uppercase">Web Design</h1>
      <p>
        Excepturi ea consequuntur fugiat deleniti dolore suscipit doloribus
        aspernatur ducim
      </p>
    </div>
    <div
      class="shadow-[0_0_5px_-2px_#181921] rounded-md p-10 flex flex-col gap-4"
    >
      <h1 class="text-xl font-bold uppercase">Development</h1>
      <p>
        Excepturi ea consequuntur fugiat deleniti dolore suscipit doloribus
        aspernatur ducim.
      </p>
    </div>
    <div
      class="shadow-[0_0_5px_-2px_#181921] rounded-md p-10 flex flex-col gap-4"
    >
      <h1 class="text-xl font-bold uppercase">Graphic</h1>
      <p>
        Excepturi ea consequuntur fugiat deleniti dolore suscipit doloribus
        aspernatur ducim.
      </p>
    </div>
    <div
      class="shadow-[0_0_5px_-2px_#181921] rounded-md p-10 flex flex-col gap-4"
    >
      <h1 class="text-xl font-bold uppercase">3D Modeling</h1>
      <p>
        Excepturi ea consequuntur fugiat deleniti dolore suscipit doloribus
        aspernatur ducim.
      </p>
    </div>
    <div
      class="shadow-[0_0_5px_-2px_#181921] rounded-md p-10 flex flex-col gap-4"
    >
      <h1 class="text-xl font-bold uppercase">Social Media</h1>
      <p>
        Excepturi ea consequuntur fugiat deleniti dolore suscipit doloribus
        aspernatur ducim.
      </p>
    </div>
    <div
      class="shadow-[0_0_5px_-2px_#181921] rounded-md p-10 flex flex-col gap-4"
    >
      <h1 class="text-xl font-bold uppercase">Marketing</h1>
      <p>
        Excepturi ea consequuntur fugiat deleniti dolore suscipit doloribus
        aspernatur ducim.
      </p>
    </div>
  </div>
</div>
<!-- About us section -->
<div class="bg-main w-full min-h-[50vh] p-10">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="w-full h-96 rounded-md overflow-hidden">
      <img
        src="{{url_for('static',filename='images/who_we_are_01.jpg')}}"
        class="h-full w-full object-cover -z-[1]"
        alt=""
      />
    </div>
    <div class="flex flex-col gap-6 justify-center">
      <div class="shadow-[0_0_5px_-2px_#f8f9f1] p-6 rounded">
        <h1 class="text-gray-300 text-3xl font-bold">Who we are</h1>
        <p class="text-gray-500">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates
          beatae tenetur maxime iure molestias aperiam pariatur quidem illo
          dicta, tempora temporibus iste fugiat quaerat est reprehenderit ut.
          Incidunt, eveniet sit.
        </p>
      </div>
      <div class="shadow-[0_0_5px_-2px_#f8f9f1] p-6 rounded">
        <h1 class="text-gray-300 text-3xl font-bold">Building success</h1>
        <p class="text-gray-500">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates
          beatae tenetur maxime iure molestias aperiam pariatur quidem illo
          dicta, tempora temporibus iste fugiat quaerat est reprehenderit ut.
          Incidunt, eveniet sit.
        </p>
      </div>
    </div>
  </div>
</div>
<div>{% include 'include/process_tabs.html' %}</div>
{% endblock content %} {% block script %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.title = "O-Blog homepage";
  });
</script>
{% endblock script %}
