<nav class="h-20 flex items-center bg-main text-white shadow-lg">
    <div
      class="max-w-7xl mx-auto px-4 flex items-center justify-between w-full"
    >
      <div>
        <a href="/" class="text-2xl font-bold">
            <img src="{{url_for('static',filename='images/logo.svg')}}" alt="">
        </a>
      </div>

     <ul class="flex items-center">
        <li class="inline-block">
          <a href="/about" class="px-4 py-2">Home</a>
        </li><li class="inline-block">
          <a href="/about" class="px-4 py-2">About us</a>
        </li><li class="inline-block">
          <a href="/about" class="px-4 py-2">Services</a>
        </li><li class="inline-block">
          <a href="/about" class="px-4 py-2">Blog</a>
        </li>
        <li class="inline-block">
          <a href="/contact" class="px-4 py-2">Contact</a>
        </li><li class="inline-block">
          <a href="/contact" class="px-4 py-2">Sign in</a>
        </li>
      </ul>
     </ul>
    </div>
  </nav>